@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ErrorModel
@{
    ViewData["Title"] = @localizer["Error"];
}

<div class="container">
    <div class="title">@ViewData["Title"]</div>
    <br />

    <div class="container">

        <fieldset>
            <legend>@localizer["An error occurred while processing your request"]</legend>
            @if (Model.ShowRequestId)
            {
                <div class="form-group">
                    <strong>@localizer["Request ID"]</strong> <code>@Model.RequestId</code>
                </div>
            }
            <div class="form-group">@localizer["Please contact your administrator quoting the above request id"]</div>
        </fieldset>
    </div>
</div>
