@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Smeat.Leader.Web.Areas.Identity.Pages.Account.RegisterModel

@{
    ViewData["Title"] = localizer["Register"];
}

<div class="container">

    <div class="title">@ViewData["Title"]</div>
    <br />
    <span class="message">@ViewData["Message"]</span>

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <fieldset>
            <legend>@localizer["Create a new account"]</legend>
            <div asp-validation-summary="All" class="error-summary"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="error"></span>
            </div>
            <button type="submit" class="btn">@localizer["Register"]</button>
        </fieldset>
    </form>

</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}